.title{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#btn{
    padding: 24px;
    background-color: lightgrey;
    border-radius: 16px;
}

#downloadLink{
    color: black;
}

a{
    text-decoration-line: none;
}